.footer {
  @include flex-display($direction: row, $space: center, $align: end);
  width: 100%;
  height: auto;
  padding-bottom: 0.3rem;
  position: absolute;
  bottom: -3.2%;
  background-color: $background-color-dark;
  z-index: -1;

  i {
    font-size: 1.6rem;
  }
  span {
    font-size: 1.6rem;
  }
}
