$primary-color: #2c2c54;
$secondary-color: #ff5252;

$background-color-light: #d1ccc0;
$background-color-dark: #2c2c54;

$inputBackground-light: #706fd3;
$inputBackground-dark: #474787;

$inputPlaceholderColor1: #f7f1e3;
$light-color: #f7f1e3;

$buttonBackground1: #2c2c54;
$buttonColor1: #f7f1e3;
$buttonWidth: 7rem;
$buttonHeigth: 4rem;

$buttonBackground2: #f7f1e3;
$buttonColor2: #2c2c54;

$date-color: #ffda79;

//priority-Colors
$high-priority-secondary: #b33939;
$high-priority-primary: #ff5252;

$medium-priority-secondary: #cd6133;
$medium-priority-primary: #ff793f;

$low-priority-secondary: #218c74;
$low-priority-primary: #33d9b2;

$done-priority-primary: #d1ccc0;
$done-priority-secondary: #84817a;
